@charset "utf-8";
/* CSS Document */

/*change only if necessary for the activity*/

/*activity dimensions*/
.content {
   /*width: 702px;*/
}

.section {
	/*height: 600px;*/
}
/*activity dimensions*/

/*show text and extra content dimensions*/
#showtext {
	/*Remove comments where necessary if you want to give different dimensions to the showtext.*/
	width: 700px;
	height: 100%;
} 

.figure.full.image > a > img {
    width: 20%;
}

@media (max-width:1024px){
	.figure.full.image > a > img {
		width: 50%;
	}
}

.activity_rubric{
	display:none;
}

.activity_content {
    margin-bottom: 0px;
    margin-top: 3em;
}