@charset "utf-8";
/* CSS Document */

/*change only if necessary for the activity*/

/*activity dimensions*/
.content {
   /*width: 702px;*/
}

.section {
	/*height: 600px;*/
}

/*show text and extra content dimensions*/
#showtext {
	/*Remove comments where necessary if you want to give different dimensions to the showtext.*/
	width: 700px;
	height: 100%;
} 

#text1, #text2{
	text-align: left;
}

#text1 p, #text2 p{
	padding:0;
	padding-left: 0.3em;
}

#timelineDiv1, #timelineDiv2{
	color:#fff;
	padding:0;
	padding-left: 0.3em;
}

@media (max-width:992px){
	#text1{
		margin-bottom:5%;
	}
}

@media (max-width:768px) {
	.rubric_content {
		min-height: 50px;
	}
}

body > div.content {
    text-align: left;
}