@charset "utf-8";
/* CSS Document */


/*Blue Background in answers NECESSARY*/

.showMe {
	text-align:left;
}

div.content {
	text-align: left;
}

/*show text and extra content dimensions*/
#showtext {
	/*Remove comments where necessary if you want to give different dimensions to the showtext.*/
	width: 700px;
	height: 100%;
} 

.clickMe {
	width:70%;
	text-align:center;
	margin:0 auto;
}

.clickMe img{
	width:auto;
}

.questions{
	border-right:none;
	padding-right:0;
}

.answersDiv{
	border-top: 2px solid #063651;
	padding:10px 0 0 0;
}

.triangle{
	opacity:0;
	text-align: center;
	padding:0 !important;
	line-height: 0;
	margin-top: 10px;
}

@media (max-width:768px){
	.answersDiv{
		border:none;
		left: auto;
		transform: translate(-50px, -44%);
		-ms-transform: translate(-50px, -44%);
		-webkit-transform: translate(-50px, -44%);
	}
	.clickMe{
		padding-bottom: 40px;
	}
}