@charset "utf-8";
/* CSS Document */

/*change only if necessary for the activity*/

/*activity dimensions*/
.content {
   /*width: 702px;*/
}

.section {
	/*height: 600px;*/
}
/*activity dimensions*/

/*activity list style*/

.myCheck {
	/*Add style if necessary>*/	
}

/*show text and extra content dimensions*/
#showtext {
	/*Remove comments where necessary if you want to give different dimensions to the showtext.*/
	width: 700px;
	height: 100%;
} 

.figure.full.image > img {
    max-height: 100%;
    max-width: 790px;
    width: 100%;
}

.rubric_content {
	border-left:none;
}

@media (max-width:1024px){
	.figure.full.image > a > img {
		max-width: 450px;
	}
	.rubric_content {
		min-height:0px;
	}
}

.myText{
	text-align: left;
}

.row {
    margin-right: -30px;
    margin-left: -30px;
}