@charset "utf-8";
/* CSS Document */
/*change only if necessary for the activity*/

/*activity dimensions*/
.content {
   /*width: 702px;*/
}

.section {
	/*height: 600px;*/
}

/*show text and extra content dimensions*/
#showtext {
	/*Remove comments where necessary if you want to give different dimensions to the showtext.*/
	width: 700px;
	height: 100%;
} 

.figure.full.image > a > img {
	width:70%;
}

.figure.full.image > img{
	width:40%;
}

@media (max-width:768px) {
	.rubric_content {
		min-height: 0px;
	}
}