@charset "utf-8";
/* CSS Document */

/*change only if necessary for the activity*/

/*activity dimensions*/
.content {
   /*width: 702px;*/
}

.listArrow{
	color:#4dbcc6;
	padding-right:0.3em;
}

.section {
	/*height: 600px;*/
}
/*activity dimensions*/

/*activity list style*/

/*show text and extra content dimensions*/
#showtext {
	/*Remove comments where necessary if you want to give different dimensions to the showtext.*/
	width: 700px;
	height: 100%;
} 

#text1{
	text-align: left;
}

@media (max-width:768px) {
	.rubric_content{
		min-height: 80px;
	}
}