@charset "utf-8";
/* CSS Document */

#header_container {
   /*border: 1px solid #666666;*/
    height: 69px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 2;
}

#header_back{
	background: #A1BCE2; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2YmRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #A1BCE2 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#A1BCE2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #A1BCE2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #A1BCE2 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #A1BCE2 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right, #A1BCE2 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A1BCE2', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
/*	background-image:url("../../layout/part_top.jpg);*/
	height:64px;	
    margin: 0 auto;	
}

#header_title {	
	background-image: url("../../layout/menu/fassapiece1.png");
    height: 69px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 250px;	
	text-align: center;
	display: table-cell;
    vertical-align: middle;	
}

#header_container > #hr {
	background-image: url("../../layout/menu/fassapiece2.png");	
	height: 69px;
    left: 250px;
    position: absolute;
    top: 0;
    width: 100%;
}

#header_logo {	
	background-image: url("../../layout/menu/fassapiece3.png");
    height: 58px;
    right: 0px;
    position: absolute;
    top: 0px;
    width: 115px;	
	text-align: center;
	display: table-cell;
    vertical-align: middle;	
}

#content_container{
	margin: 0;
	/*padding: 100px 0 50px 0;*/
	padding: 64px 0 0 0;
}

#footer_container {
	bottom:0; 
	left:0; 
	position:fixed; 
	width:100%; 
    /*border: 1px solid #666666;*/
}

#footer {
	background: #A1BCE2; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2YmRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #A1BCE2 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#A1BCE2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #A1BCE2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #A1BCE2 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #A1BCE2 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right, #A1BCE2 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A1BCE2', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */	
	 
	margin:0 auto; 
	text-align:center; 
	height:50px;
}