@charset "utf-8";
/* CSS Document */

/*change only if necessary for the activity*/

/*activity dimensions*/
.content {
   /*width: 702px;*/
}

.section {
	/*height: 600px;*/
}
/*activity dimensions*/

/*show text and extra content dimensions*/
#showtext {
	/*Remove comments where necessary if you want to give different dimensions to the showtext.*/
	width: 700px;
	height: 100%;
}

#text1 {
	text-align: left;
	margin-top:50px;
}

.activity_content [id*="timelineDiv"] p {
	margin-left: 0;
}

.image {
    padding: 0;
    text-align: center;
    max-width: 287px;
    margin: 0 auto;
}

.pageNumbering{
	font-size: 30px;
}

@media (max-width:768px) {
	.rubric_content {
		min-height: 50px;
	}
}